# Components Required
1. Arduino UNO 
2. SG90 Servo
3. HCSR 05 ULtrasonic Sensor
4. Jumper Cables


# Library Required
1. Servo.h

# Hardware Components
1. Pair of Scissors
2. Soldering Iron
3. Double Sided Tape
4. Small Bucket or Sunboard

# That's it this all are necessary requirements for this project:)
